:root {
  --correct: #4ec15a;
  --incorrect: #c14e4e;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: 2rem;
  font-size: 20px;
}

button {
  display: block;
  min-width: 120px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  color: white;
  background-color: black;
  cursor: pointer;
  position: relative;
}

button.big {
  width: 96px;
  height: 96px;
  padding: 0;
  min-width: auto;
}
button.secondary {
  color: black;
  background-color: #e8e8e8;
}
button.correct {
  background-color: var(--correct);
}
button.incorrect {
  background-color: var(--incorrect);
}
button.correct.big::after {
  content: 'Correct';
}
button.incorrect.big::after {
  content: 'Incorrect';
}
button.correct.big::after,
button.incorrect.big::after {
  color: black;
  text-align: center;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -30px;
}
button:hover {
  opacity: 0.8;
}

.deck {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deck-title {
  font-size: 40px;
}
.deck-text {
  color: rgba(0, 0, 0, 0.6);
}

.test-container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  align-items: center;
}

h3 {
  font-size: 32px;
}

.test-info p {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.6);
}

.test-cards,
.test-interaction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rate-wrapper {
  display: flex;
  gap: 2rem;
}

.card {
  font-size: 24px;
  text-align: center;
  line-height: 150%;
  padding: 2rem;
  height: min(40vmin, 400px);
  width: auto;
  aspect-ratio: 3.5 / 2.25;
  border-radius: 1rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* Result section */

.result {
  max-width: 630px;
  margin: auto;
  height: 100%;

  display: grid;
  grid-template-columns: 2fr 1fr;
  align-content: center;
  gap: 2rem;
}

.result-top {
  grid-column: 1 / span 2;
}

.subtext {
  color: rgba(0, 0, 0, 0.6);
}

.incorrect-icon {
  background: url('./assets/incorrect.svg'), var(--incorrect);
}

.correct-icon {
  background: url('./assets/correct.svg'), var(--correct);
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 4px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: 2px;
}

.result p {
  margin-bottom: 1rem;
}

.result button {
  width: 100%;
  margin-bottom: 1rem;
}
